nav {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color:	 #c77e00;;
  background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
  color: #ffffff;
  font-size: 24px;
  font-family: Source Sans Pro,sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.logo {
  font-size: 40px;
  display: flex;
  font-family: Bungee, sans-serif;
}

.composeTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ToggleButton {
  background-color: Transparent;
  border: none;
  cursor:pointer;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  outline: 0;
}

#ToggleButton:hover {
  top: -3px;
}
@media only screen and (min-width: 768px) {
  nav {
    background-color: #4056a1;
    background-image: none;
  }
}
